@font-face {
    font-family: 'outer sans' ;
    src: url(../assets/font/MADEOuterSansBold.woff) format("woff");
}

@font-face {
    font-family: 'outer sans outline' ;
    src: url(../assets/font/MADEOuterSansOutline.woff) format("woff");
}

@font-face {
    font-family: 'alpino' ;
    src: url(../assets/font/Alpino-Light.woff) format("woff");
    font-weight: 100;
}

body{
    background-color: #04151F;
    overflow-x: hidden;
}

p{
    font-family: 'alpino';
}

h1{
    font-family: 'outer sans';
}

h2{
    font-family: 'outer sans';
    text-transform: uppercase
}

h3{
    font-family: 'outer sans';
}

h4{
    font-family: 'outer sans';
}

.years{
    font-family: 'outer sans';
}
.mail{
    font-family: 'alpino';
    text-transform: none;
}
li{
    font-family: 'alpino';
    text-transform: none; 
}

span{
    font-family: 'outer sans outline';
    text-transform: uppercase
}

.outlin{
    font-family: 'outer sans outline';
    text-transform: uppercase
}

.outlin:hover{

    font-family: 'outer sans';
    text-transform: uppercase;

}

.nav{
    font-family: 'outer sans';
    text-transform: none;
}

.span_project{
    font-family: 'outer sans';
    text-transform: uppercase;
}